MeAlert:<br><br>

<% @alerts.each do |alert| %>

<tr>
	<td><b><u><%= alert.name %></u></b>:</td>

	<td><%= alert.street %></td>

	<td><%= alert.state %>,</td>

	<td><%= alert.zip %></td>&nbsp;

	<td><%= link_to "X", alert, method: :delete %></td><br><br>
</tr>
<tr>
	<td>
			<% querie = HTTParty.get "http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.geojson" %>
	<% query = querie['features'] %>
	<% event_list =[]%>
	<% query.each do |x| %>
	<% string1 = x['properties']['title'] %>
	<% string2 = Time.at(x['properties']['time'] / 1000) %>
	<% string3 = string1.to_s + " at " + string2.to_s %> 
	<div id='24hrs'>
		<%= event_list.to_s << string3 if string3.include? alert[:state] %>
	
		<% end %>


	</td><br>				
</tr>
<% end %>
<br><br>
<%= link_to 'New Alert', new_alert_path %>
