MeAlert:<br><br>

<% @alerts.each do |alert| %>

<tr>
	<td><b><u><%= alert.name %></u></b>:</td>

	<td><%= alert.street %></td>

	<td><%= alert.state %>,</td>

	<td><%= alert.zip %></td>

	<td><%= button_to "X", { action: "destroy", id: alert.id}, {method: :delete, :class => "mybutton" } %></td>
</tr>

<br><br>

<% end %>